.background {
  background-color: #005841;
  padding: 2rem;
  text-align: center;
  color: white;
}

.sectionOne,
.sectionThree {
  max-width: 1200px;
  color: black;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 2rem auto;
  position: relative;
  left: -40px;
  transition: 0.3s;
}

.sectionTwo {
  max-width: 1200px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(105, 105, 105, 0.8);
  border-radius: 8px;
  margin: 2rem auto;
  position: relative;
  left: 40px;
  transition: 0.3s;
}

.sectionOne:hover,
.sectionThree:hover {
  box-shadow: -6px -5px 17px 1px rgba(0, 0, 0, 0.55);
  scale: 1.02;
}
.sectionTwo:hover {
  box-shadow: 11px -6px 17px 1px rgba(0, 0, 0, 0.55);
  scale: 1.02;
}

.photoOneWrapper,
.photoThreeWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.photoTwoWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  order: 2;
}

.img {
  width: 60%;
  object-fit: cover;
  border-radius: 8px;
}

.photoOneText,
.photoTwoText,
.photoThreeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.photoOneText h3,
.photoTwoText h3,
.photoThreeText h3 {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.5;
}

.photoOneText p,
.photoTwoText p,
.photoThreeText p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .sectionOne,
  .sectionThree {
    grid-template-columns: 1fr;
    text-align: center;
    left: -14px;
  }

  .sectionTwo {
    grid-template-columns: 1fr;
    text-align: center;
    left: 14px;
  }

  .photoOneWrapper,
  .photoTwoWrapper,
  .photoThreeWrapper {
    order: 1;
  }

  .photoOneText,
  .photoTwoText,
  .photoThreeText {
    order: 2;
    text-align: center;
  }
}
